.info {
    max-width: 70rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--gray-600);
    margin: 3rem auto;
    font-size: 1.125rem;
}


.info p:first-of-type {
    color: var(--blue);
    font-weight: 700;
    font-size: 1.125rem;
}

.info p:nth-of-type(2) {
    color: var(--purple);
    font-weight: 700;
    font-size: 1.125rem;
}

.count {
    padding: 0.3rem;
    border-radius: 8px;
    background-color: var(--gray-500);
    color: var(--gray-100);
    font-weight: 700;
    font-size: 1.125rem;
}